[2016-01-22 10:31] riccardoroasio opened #1 "Unable to use getRequests"
Hi,

maybe is not an issue but i'm not able to use GetRequests.
While trying to use it in that way:

[code]

it crashes with following error:

RuntimeError: window.__webdriverajax is undefined
Build info: version: '2.48.2', revision: '41bccdd', time: '2015-10-09 19:59:12'
System info: host: 'probe_server-probe_server-2334910', ip: '172.17.0.9', os.name: 'Linux', os.arch: 'amd64', os.version: '4.2.

[2016-01-26 12:06] chmanie commented on #1
Hey, thanks for the bug report! I didn't particularly test the manual initialisation. I will do that and then come back to you.

Could you tell me what browser version and what version of webdriverio you are using?

[2016-01-26 18:27] riccardoroasio commented on #1
Hi,

I'm uing firefox 41.0.2 , selenium 2.48.2 and webdriverio 3.4.0.

Tell me if you need more infos.

Best Regards,
Riccardo

2016-01-26 13:06 GMT+01:00 Christian Maniewski <notifications@github.com>:

[2016-01-27 08:01] chmanie commented on #1
I added tests for manual initialisation and it all seems to work fine. Could you provide a minimal test case (the whole file, preferably using a gist)?

Thank you.

[2016-01-27 08:12] riccardoroasio commented on #1
Can you please probide me an example? Maybe I'm doing something wrong....

Thanks

2016-01-27 9:01 GMT+01:00 Christian Maniewski <notifications@github.com>:

[2016-01-27 08:14] riccardoroasio commented on #1
Here is the gist:

https://gist.github.com/riccardoroasio/2a2e9725bf1acc908753

Hope it will help!

Best Regards,
Riccardo Roasio

2016-01-27 9:12 GMT+01:00 Riccardo Roasio <riccardo.roasio@gmail.com>:

[2016-01-27 08:30] chmanie commented on #1
This is a very minimal example (assumptions are that a selenium server is running and that you have the chrome driver installed on your system):

[code]

[2016-01-27 08:39] riccardoroasio commented on #1
Hi check your example but I think the error is caused by:

.getRequests()
.then(function(requests){console.log(requests);})

without these two lines all works but i I try to retrieve ajax
requests it crashes with:

RuntimeError: window.__webdriverajax is undefined

Hope it can help,

Best regards,

Riccardo

2016-01-27 9:30 GMT+01:00 Christian Maniewski <notifications@github.com>:

[2016-02-05 06:33] chmanie opened #3 "Support page changes"
As seen in #1, the assessed request data does not survive a page change. This could be solved be using cookies or localStorage (depending on browser support).

[2016-02-05 08:35] chmanie commented on #1
Closing in favour of #3

[2016-02-05 08:35] #1 closed

[2016-02-05 09:31] #3 closed

[2016-02-05 09:33] chmanie commented on #1
@riccardoroasio please check if version 1.1.0 works for you :)

[2016-02-05 09:37] riccardoroasio commented on #1
Thanks a lot!
I will give it a try and let you know if it works for me.

Best Regards,
Riccardo Roasio

2016-02-05 10:33 GMT+01:00 Christian Maniewski <notifications@github.com>:

[2016-02-09 09:17] riccardoroasio commented on #1
Hi,

I tested version 1.1.0 but it gives me this error:

Error: Could not find request with index undefined
    at execute(<Function>, ) - index.js:104:27
    at elementIdClick("2") - click.js:30:33

This is the code I'm using:

var webdriverio = require('webdriverio');
var wdajax = require('webdriverajax');

var fs = require('fs');

  var options = { desiredCapabilities: { browserName: 'firefox'

[2016-02-10 18:35] mDomingues opened #5 "getRequests() not fetching all requests"
Hi,

I'm using **getRequests()** to validate some requests with specific params but sometimes, promise does not grab what I want.

Sample:
[code]

Even with a larger pause, **requests** lacks.
Inspecting my front-end site, all requests are made quickly.  At a blink of an eye.

Do you have any idea ?

[2016-02-15 08:30] chmanie commented on #1
The site you are testing doesn't make an XHR request (at least when you execute the exact test you described). You can assess that easily using the chrome/FF dev tools (enable the "preserve log" option).

[2016-02-15 08:33] chmanie commented on #5
I'm sorry, without seeing the exact site you're testing (and the code you are using to test it) I can't make a guess here. You can join the [![gitter](https://badges.gitter.im/chmanie/webdriverajax.svg)](https://gitter.im/chmanie/webdriverajax?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) chat to see if we can work on that.

[2016-02-28 20:13] michaelDomingues commented on #5
@chmanie thanks for your answer.
Now I'm getting those missing requests. A pause was the key. :)

[2016-03-02 16:33] chmanie commented on #5
Great!
Closing this.

[2016-03-02 16:33] #5 closed

[2016-11-01 14:57] hstorc opened #7 "wdio test runner fails"
I think your work is great.
I was able to run the manual test and liked what you did.
But when I try to run the wdio test-runner, while standalone Selenium Server
is up and running, and wdio.conf.js has the plugin registered:
        plugins: {
		webdriverajax:{}
	},
I run 'node_modules/.bin/wdio wdio.conf.js'
and get "ERROR: browser.url(...).setupInterceptor is not a function".

Any help is appre

[2016-11-02 09:39] chmanie commented on #7
Which version of wdio are you using? I think I didn't try it with v4 yet. I will, however, fix this plugin for v4 sometime during the next days.

[2016-11-02 13:42] hstorc commented on #7
Thanks for your reply @chmanie !
I am running Version 3.4.0 of wdio. Should I run an earlier version for now?
Does the code supports version 2.4.X? I am trying to create a regression tool
that includes webdrivercss which support the older version only.

[2016-11-02 14:19] chmanie commented on #7
Version 3.4 of wdio should work fine, however 2.x does not. This repository includes an example [wdio.conf.js](https://github.com/chmanie/webdriverajax/blob/master/wdio.conf.js) which is working currently.

Could you state your node version and post a link to a gist containing your `wdio.conf.js`?

[2017-01-19 17:00] ayxos opened #8 "Integration with Gulp"
How can i integrate this with my current gulp setup?
conf:
[code]

I got this error:
[code]

Although my version is higher than v3

[2017-01-24 19:56] chmanie commented on #8
I think it also does not work with v2. I will look into that though.

[2017-04-17 18:53] chmanie commented on #7
I am closing this due to inactivity.

[2017-04-17 18:53] #7 closed

[2017-04-18 02:31] chmanie commented on #8
I pushed a new version (v2) which should work with webdriverio v4.

[2017-04-18 02:31] #8 closed

[2017-05-21 18:38] TimeTravelersHackedMe opened #9 "Can Not Get it To Work with webdriver.io NPM"
Hey, for some reason my code returns this error:

`TypeError: client.init(...).url(...).setupInterceptor is not a function`

Here's my code:

[code]

Is it meant to be run in another way?

[2017-05-25 10:33] chmanie commented on #9
Which versions of webriver.io / webdriverajax are you using? The newest versions don't support chaining of commands like that.

Please also refer to the readme: https://github.com/chmanie/webdriverajax/blob/master/README.md

[2017-05-25 22:31] TimeTravelersHackedMe commented on #9
I'm using    "webdriverio": "^4.8.0"

What version should I use instead of that? I'll just have to add "client" before each of the lines to prevent chaining?

[2017-05-25 22:33] TimeTravelersHackedMe commented on #9
Here's your NPM info:

   "webdriverajax": "^2.0.0",
    "webdriverio": "^4.8.0"

[2017-05-25 23:02] chmanie commented on #9
Basically yes, webdriver.io v4 and hence webdriverajax v2 don't support this kind of chaining.

[2017-05-28 20:06] TimeTravelersHackedMe commented on #9
Okay.. I tried it without chaining with no success. Here's my code:

[code]

When I run node app.js I get the following error:

browser.setupInterceptor is not a function

[2017-05-29 04:48] chmanie commented on #9
As far as I'm concerned, the "old" method of using this plugin programatically didn't really work for me in v2. In general, the support for that in v4 seems kind of shaky. That's why I removed it from the readme.

Did you try running it via `wdio`?

[2017-10-25 21:59] jennliacl opened #10 "no available function to read request data"
Hi Cris,
Thanks for making this package, i'm currently trying to intercept my request payload, but i realized this tool only verifies detailed body on the response, not on the request. Can you give me some idea how I can do this? Thanks

[2017-10-25 22:20] chmanie commented on #10
Hey Jennifer, you are right, indeed, currently you can just assess the headers and the body of the response. Let me look into that and come back to you.

[2017-10-25 23:37] jennliacl commented on #10
Sure, thanks for the quick response!

[2017-10-31 10:56] chmanie commented on #10
I'm about to add support for

- string
- json
- FormData
- ArrayBuffer (experimental)

request bodies. Will that cover your use case?

[2017-10-31 11:41] rizzak commented on #10
Thank you, Christian!

[2017-10-31 20:44] rizzak commented on #10
How I can get your new changes?

[2017-11-01 03:55] chmanie commented on #10
Pushed v2.1.0 w/ request body support. Closing this now. Thank you for providing feedback @jennliacl, @rizzak 🌮

[2017-11-01 03:55] #10 closed

[2017-11-01 04:17] chmanie commented on #9
I'm closing this due to inactivity. Hope you solved the issue.

[2017-11-01 04:17] chmanie commented on #9
I'm closing this due to inactivity. Hope you solved the issue.

[2017-11-01 04:17] #9 closed

[2017-12-14 20:41] psswf1172 opened #11 "browser.setupInterceptor is not a function"
Was hoping to implement this to read request headers, so tried out the example code and got this error:
`browser.setupInterceptor is not a function`
`running chrome`
`TypeError: browser.setupInterceptor is not a function
    at Context.<anonymous> (/Users/.../test/analytics.js:14:13)
    at Promise.F (/usr/local/lib/node_modules/wdio-mocha-framework/node_modules/core-js/library/modules/_export.js:

[2017-12-14 22:35] chmanie commented on #11
Hey thanks for reporting the issue. I'm seeing issues with the newest versions of webdriver.io and selenium-standalone as well. Let me investigate that. For now you could go back to the versions defined in the devDependencies in webdriverajax:

[code]

as these work for sure. If that's not an option for you, unfortunately you'll have to be a bit patient.

[2017-12-15 12:46] chmanie commented on #11
Please try version 2.1.1. Also make sure to put the `webdriverajax` plugin into your `wdio.conf`: https://github.com/chmanie/webdriverajax#using-with-wdio

[2017-12-18 23:02] psswf1172 commented on #11
Thanks -- I tried going back to the versions defined in the devDependencies as you suggested. And then using version 2.1.1 with the matching versions in devDependencies.

Both ways I ran into the same issue:

When the plugin in is listed in wdio.conf.js `    plugins: {
        webdriverajax: {}
    },` the module cannot be found.

[code]

And when I comment out the plugin in wdio.conf.js,
[code]
I

[2017-12-20 12:00] chmanie commented on #11
Hm. I'm assuming that you did a
[code]
in your working directory.

Please make sure that it is also noted in the package.json. You can ensure that by doing
[code]

I tried exactly that and it worked for me. If you're still having troubles join the gitter room here: https://gitter.im/chmanie/webdriverajax and I'll try to sort you out (if I'm there).

[2017-12-31 10:46] rizzak opened #13 "Need to get requests from both, iframe and parent page"

[2018-01-04 17:29] chmanie commented on #13
This might work. I'll look into it.

[2018-01-10 14:33] ksycz opened #14 ""Unknown error: Cannot read property '0' of undefined" when using console.log(browser.getRequest(0))"
Hey, I installed webdriverajax via npm (it installs "webdriverajax": "^2.1.0" by default), I have "webdriverio": "^4.8.0".
When I try to run a code like below:
[code]
it returns me an error: **unknown error: Cannot read property '0' of undefined** I also tried to use browser.getRequests() without any index and then I see the **Could not find request with index undefined** error, I am not sure what

[2018-01-22 21:32] chmanie commented on #11
I think 2.1.1 was not yet published. My mistake. Please try again.

[2018-01-23 13:52] chmanie commented on #13
So this is already possible, actually. You just have to set up the interceptor for every frame:

[code]

To assert:

[code]

Please let me know if that is sufficient for you :)

[2018-01-23 13:53] #13 closed

[2018-01-23 13:54] chmanie commented on #14
You're probably seeing this error because no requests were captured. Is the request maybe done inside an iframe? See https://github.com/chmanie/webdriverajax/issues/13

[2018-01-23 14:49] chmanie commented on #14
I just published version v2.2.0 which should improve some error messages a lot. If you need further help with you specific use case please join the gitter channel.

[2018-01-23 14:49] #14 closed

[2018-01-23 14:49] chmanie commented on #14
I just published version v2.2.0 which should improve some error messages a lot. If you need further help with you specific use case please join the gitter channel.

[2018-01-23 14:50] #11 closed

[2018-01-24 06:22] rizzak commented on #13
Exactly!
Hit the spot. Thank you!

[2018-03-20 16:11] chmanie opened #19 "`fetch` support"
The current implementation only hooks into the `XMLHttpRequest` object. Newer browsers have yet another way of doing XHR and that is the fetch API, which doesn't use the old XHR methods internally. So we need to intercept this new API as well.

[2018-04-02 21:38] chmanie opened #20 "Verify proper functionality of replace browser API functions"
We have to validate whether the original functionality of `XMLHttpRequest` and `fetch` are maintained after replacing them with the interceptor.

[2018-04-26 14:53] greenkeeper[bot] opened #22 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/chmanie/webdriverajax/compare/master...chmanie:greenkeeper%2Fupdate-to-node-10">open a PR wi

[2018-07-20 05:41] qburst-vipin opened #26 "Any workaround when XHR uses Fetch"
Installed this plugin(3.0.0-beta.1) with webdriverio(4.6) and tried to access the XHR requests but getting empty response array

[code]

I think [this](https://github.com/chmanie/webdriverajax/issues/19
) will be the issue - any workaround for this

![xhr](https://user-images.githubusercontent.com/12028913/42985025-3447ce3c-8c0d-11e8-838e-67a6fec373da.png)

[2018-07-23 12:24] qburst-vipin commented on #26
This one worked for me
https://github.com/chmanie/webdriverajax/tree/feature/19-fetch-support

but method and response headers, body are getting empty, status code is showing.

[code]

[2018-07-23 16:45] chmanie commented on #26
I'm sorry, the PR is not done yet. I'll try to put that into a working state during the next couple of days

[2018-08-07 14:48] justinewalt commented on #20
I don't think I know enough to really help, but if you'd like (with some direction) I could test this for you.

[2018-08-08 05:55] qburst-vipin commented on #26
Much appreciated

[2018-09-05 18:40] Carson-Carlisle-ZocDoc opened #27 "No support for "Options" http method type"
I am trying to verify that a specific xhr request only happens once.  I am making a POST request across domains, which means it sends an `OPTIONS` request first.  When I look at the requests that are returned from `browser.getRequests()`, I see two requests, but the method on both of them is `POST`, when the method on the first request should be `OPTIONS`.  Additionally, the response code seems to

[2019-02-13 10:20] #19 closed

[2019-02-13 10:32] chmanie commented on #26
Sorry for the long wait. The package is now published under `wdio-intercept-service`, works with v5 of `webdriverio` and supports `fetch`

[2019-02-13 15:26] #26 closed

[2019-02-21 10:43] greenkeeper[bot] opened #32 "An in-range update of @wdio/mocha-framework is breaking the build 🚨"
## The devDependency [@wdio/mocha-framework](https://github.com/webdriverio/webdriverio) was updated from `5.4.20` to `5.6.0`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Fmocha-framework-5.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@

[2019-02-21 10:43] greenkeeper[bot] opened #33 "An in-range update of @wdio/sync is breaking the build 🚨"
## The devDependency [@wdio/sync](https://github.com/webdriverio/webdriverio) was updated from `5.4.20` to `5.6.0`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Fsync-5.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@wdio/sync is a devDepe

[2019-02-21 10:44] greenkeeper[bot] opened #34 "An in-range update of @wdio/cli is breaking the build 🚨"
## The devDependency [@wdio/cli](https://github.com/webdriverio/webdriverio) was updated from `5.5.0` to `5.6.0`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Fcli-5.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@wdio/cli is a devDependen

[2019-02-21 10:45] greenkeeper[bot] opened #35 "An in-range update of @wdio/local-runner is breaking the build 🚨"
## The devDependency [@wdio/local-runner](https://github.com/webdriverio/webdriverio) was updated from `5.5.0` to `5.6.0`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Flocal-runner-5.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@wdio/lo

[2019-04-10 08:27] greenkeeper[bot] opened #37 "An in-range update of webdriverio is breaking the build 🚨"
## The devDependency [webdriverio](https://github.com/webdriverio/webdriverio) was updated from `5.7.9` to `5.7.12`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2Fwebdriverio-5.7.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webdriverio is a devDepe

[2019-04-16 06:46] #22 closed

[2019-04-16 06:46] #32 closed

[2019-04-16 06:46] #33 closed

[2019-04-16 06:46] #34 closed

[2019-04-16 06:46] #35 closed

[2019-04-16 06:46] #37 closed

[2019-04-16 06:50] chmanie commented on #27
This is actually a good first issue for anyone who'd like to help out. I'm sorry, I don't have much time these days. I might get to it eventually though. We might be able to detect `OPTIONS` requests as well but that would require some messing about and testing. In the best case we'd add a test case for this as well.

[2019-04-30 14:37] greenkeeper[bot] opened #39 "An in-range update of @wdio/sync is breaking the build 🚨"
## The devDependency [@wdio/sync](https://github.com/webdriverio/webdriverio) was updated from `5.7.13` to `5.8.0`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Fsync-5.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@wdio/sync is a devDepe

[2019-04-30 14:38] greenkeeper[bot] opened #40 "An in-range update of @wdio/mocha-framework is breaking the build 🚨"
## The devDependency [@wdio/mocha-framework](https://github.com/webdriverio/webdriverio) was updated from `5.7.14` to `5.8.0`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Fmocha-framework-5.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@

[2019-04-30 14:42] greenkeeper[bot] opened #41 "An in-range update of @wdio/cli is breaking the build 🚨"
## The devDependency [@wdio/cli](https://github.com/webdriverio/webdriverio) was updated from `5.7.15` to `5.8.0`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Fcli-5.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@wdio/cli is a devDepende

[2019-04-30 14:44] greenkeeper[bot] opened #42 "An in-range update of @wdio/local-runner is breaking the build 🚨"
## The devDependency [@wdio/local-runner](https://github.com/webdriverio/webdriverio) was updated from `5.7.15` to `5.8.0`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Flocal-runner-5.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@wdio/l

[2019-07-03 12:56] stychu opened #44 "Couldn't initialize service"
Hello,
I'm using Codeceptjs along with wdio. I wanted to try out the intercept service but I get the following error when setting up `intercept` in services array for wdio plugin:

[code]

[2019-07-17 10:09] trycontrolmymind opened #47 "Override new Image, and createElement("img") with src"
Often somebody is using this API to send metrics.

It would be useful to have them here, what do you think?
I have 50% ready solution about this section, so I can help you with.

[2019-07-17 14:46] greenkeeper[bot] opened #48 "An in-range update of webdriverio is breaking the build 🚨"
## The devDependency [webdriverio](https://github.com/webdriverio/webdriverio) was updated from `5.11.5` to `5.11.6`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2Fwebdriverio-5.11.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webdriverio is a devDep

[2019-07-17 14:46] greenkeeper[bot] opened #49 "An in-range update of @wdio/spec-reporter is breaking the build 🚨"
## The devDependency [@wdio/spec-reporter](https://github.com/webdriverio/webdriverio) was updated from `5.11.0` to `5.11.6`.

🚨 [View failing branch](https://github.com/chmanie/wdio-intercept-service/compare/master...chmanie:greenkeeper%2F%40wdio%2Fspec-reporter-5.11.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@wd

[2019-07-27 06:28] iamkenos commented on #44
Getting a related but different error:
[code]

[code]

[2019-08-02 13:20] LNAmp opened #50 "Can not find V2.x version in official npm registry"
Nowadays I try to use  WebDriverIO V4 and  wdio-intercept-service to do some web auto test. I noticed that WebDriverIO V4 only support wdio-intercept-service  V2.x but i can not find the V2.x in official npm registry. Cound you please upload some 2.x version to it ? Thanks a lot, appreciate!

[2019-10-10 11:53] vrockai opened #51 "URL is overridden if init object was used in fetch method"
This line overrides the url field if an `init` object was passed to the fetch function:
https://github.com/chmanie/wdio-intercept-service/blame/master/lib/interceptor.js#L53

According to docs the `init.url` option doesn't exist:
https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch

It looks to me [the line overriding the url](https://github.com/chmanie/wdio-intercept-s

[2019-10-15 11:05] vrockai opened #52 "Do minor code changes for IE11 support"
The plugin uses some new JS features which are not working in IE11. The fix is pretty straightforward, I will provide a PR.

[2019-10-15 12:25] CubexsOne commented on #50
Hay Hay, this information is talking about the Branch "v2" in this repo.

This one: https://github.com/chmanie/wdio-intercept-service/tree/v2

[2019-11-05 20:46] vanille commented on #48
Please unsubscribe me from this list. The unsubscribe link does not work!

[2019-11-21 10:21] ericzered opened #54 "How to initialize wdio-intercept-service ?"
Hello, I want to use this plugin https://webdriver.io/docs/wdio-intercept-service.html to add new method to 'browser'. I've add it to my package in the devDependencies
[code]
I've add it as a service in my wdio.conf.js
[code]
But I still don't have the new methods when I write **'browser.**' . Should I import something and how ? It said "Once initialized, some related functions are added to your b

[2019-12-02 08:26] lacell75 commented on #51
I have the same problem.  Init overrides request.url, request.method and request.body while they can be "undefined". I will do a PR to override them only when the init values are not 'undefined'

[code]

[2019-12-02 08:36] vrockai commented on #51
@lacell75 , there already is a PR for that https://github.com/chmanie/wdio-intercept-service/pull/53
I'm using the version from [my own fork](https://github.com/vrockai/wdio-intercept-service) for now and will switch back to original once it's merged or fix in a different way. If you want to use my fork, just state the dependency in the `package.json` like:
[code]
but I would suggest creating your

[2019-12-05 09:56] #51 closed

[2019-12-05 09:56] #52 closed

[2019-12-05 10:40] chmanie commented on #50
Hi! The v2 versions were called webdriverajax and are published here: https://www.npmjs.com/package/webdriverajax

[2019-12-05 10:40] #50 closed

[2019-12-05 10:52] chmanie commented on #54
That looks interesting. I'll look into it!

[2019-12-05 11:09] #39 closed

[2019-12-05 11:09] #40 closed

[2019-12-05 11:09] #41 closed

[2019-12-05 11:09] #42 closed

[2019-12-05 11:09] #48 closed

[2019-12-05 11:09] #49 closed

[2020-01-10 14:36] bharat-dpd opened #62 "do we have any example to initilize the serivce ?"
Hi
I am failed to integrate this in my project. Can someone have any example ? I am following the README but failed to start this.
getting below error
`browser.setupInterceptor is not a function`

[2020-01-20 22:53] griou opened #64 "error TS2339: Property 'setupInterceptor' does not exist on type 'BrowserObject'."
Hello,

It looks like the service is not working with typescript, is their a way to fix it ?

steps to reproduce :
[code]
Thanks for any help.

[2020-01-22 21:27] chmanie commented on #64
I'd have to look into it but as it looks to me that's only possible by providing TS type additions (I'm happy for any PR here 🙂 )

[2020-01-23 16:25] li-guillaumeriou commented on #64
Thanks for your feedback, I have no idea how to fix it, but I'll keep searching and if I find something, I will send a PR.

[2020-01-23 23:07] rvenk693 commented on #64
Could this help ? I am running into the same problem using typescript and the intercept-service https://www.credera.com/blog/technology-solutions/typescript-adding-custom-type-definitions-for-existing-libraries/

[2020-01-24 08:47] chmanie commented on #64
We’d have to make TS aware of that plugin somehow. Because we’re monkey patching the ‘browser’ object. I’ll look into it today as this seems to be blocking!

[2020-01-24 17:08] chmanie commented on #64
v4.0.0 has TS support. Let me know how it works for you (if there are problems, just open another issue)

[2020-01-24 17:08] #64 closed

[2020-01-24 23:01] rvenk693 commented on #62
it worked for me right off bat just had to do npm install and add service to wdio.conf as well as typescript conf file if you are using typescrpit . Then could use the brower.getRequest method in the test

[2020-01-24 23:02] rvenk693 commented on #64
@chmanie - thank you it worked , also to confirm we are only able to intercept xhr requests other requests are not interecepted correct or browser.getRequests does not provide all requests made only xhr ones ?

[2020-01-24 23:12] chmanie commented on #64
Yes, it will intercept requests made via xhr and `fetch`

[2020-02-13 10:48] vaibhavbarmkar opened #67 "Is it possible to update captured api response and send to UI?"
Does this service have any feature which allows us to update API response and send an update response to UI instead of the actual response?

[2020-03-24 17:28] kaufmann42 opened #69 "intercept doc / files"
It doesn't look like I'm able to intercept a downloaded file request. Is that possible? If not, it might make for a good feature.

[2020-03-25 10:30] chmanie commented on #69
This library can only intercept ajax and fetch requests. In my opinion intercepting downloads is out of scope for this (and maybe impossible?). I'm sorry :(

[2020-03-25 10:30] #69 closed

[2020-03-27 21:47] kaufmann42 commented on #69
Gotcha. I know this isn't a help forum but if you think of a way to see file requests / downloads otherwise please let me know, otherwise thanks for the timely resoponse!

[2020-03-28 14:56] ksubramanian2 opened #76 "Internet Explorer"
I started using this service and it has been great. Thank you.
Is there any way it can be made to work on Internet Explorer too?
I get this error on IE11:
Error executing JavaScript
[internet explorer  windows #1-0] javascript error: Error executing JavaScript
[internet explorer  windows #1-0]     at WebdriverAjax.setup at node_modules/wdio-intercept-service/index.js:41:22)
Appreciate any hints.

[2020-03-28 15:26] ksubramanian2 commented on #76
Is there any specific polyfill I can add to get around this?

[2020-03-29 00:56] ksubramanian2 opened #77 "browser.getRequests() sample"
It would be nice to have a sample code for how to call browser.getRequests()
When I tried, it said the return value is not an array.

[2020-03-29 22:45] chmanie commented on #77
Hey! There's lots of examples in the test files: https://github.com/chmanie/wdio-intercept-service/blob/master/test/spec/plugin_test.js#L121-L133

[2020-03-29 22:57] chmanie commented on #67
I'm not sure whether this is a good idea. Tests really should not influence the workings of a site. What's your use-case?

[2020-03-29 22:59] chmanie commented on #47
Oh. Sorry, this has been unnoticed for quite some time. I think this is a fantastic idea as a matter of fact. Would love to see a PR :)

[2020-03-30 10:48] Khushbu-Agrawal opened #78 "Unable to capture ajax request send to www.google-analytics.com/collect"
I am not able to capture ajax request send to google analytics. Has anyone tried this?
Thanks.

[2020-03-31 14:20] kolodiy opened #79 "Tracking pixel support /img interception"
Hi,
As I understand currently there is no possibility to intercept img requests.
@chmanie are there any plans to add this functionality? This would be really useful for verification of analytics!

[2020-03-31 15:26] chmanie commented on #79
Yeah this is probably related to #47. I guess we could do it but I don’t have much time at the moment to implement something like this

[2020-03-31 17:42] Corinos opened #80 "browser.setupInterceptor is not a function"
`  "wdio-intercept-service": "^4.0.0",
    "webdriverajax": "^2.2.0",
    "webdriverio": "^5.18.7"`

I have a simple test I'm using to try to test the intercept service.  Thus far I've based it on the example here: https://webdriver.io/docs/wdio-intercept-service.html
[code]

When I run the test, I get this error: `browser.setupInterceptor is not a function`
I've done the best basic troubleshootin

[2020-04-01 09:49] #77 closed

[2020-04-01 10:38] chmanie commented on #62
Hey!

I put up an example that you can fork an start from: https://github.com/chmanie/wdio-intercept-example
Or, if you're using TypeScript: https://github.com/chmanie/wdio-intercept-example-ts

[2020-04-01 10:38] #62 closed

[2020-04-01 10:39] chmanie commented on #80
Hey!

You don't need to install `webdriverajax`, that's just the old version of this plugin.

I put up an example that you can fork an start from: https://github.com/chmanie/wdio-intercept-example
Or, if you're using TypeScript: https://github.com/chmanie/wdio-intercept-example-ts

[2020-04-01 10:39] #80 closed

[2020-04-01 10:41] chmanie commented on #76
It might be solved by the new version 4.1.0. Please try!

[2020-04-01 10:42] chmanie commented on #77
This was an actual issue when the requests array was empty. 4.1.0 should fix that problem (not the fact that your array of captured requests was probably empty)

[2020-04-01 11:55] kolodiy commented on #79
If anyone bumps into this - I found a workaround by using: https://developer.mozilla.org/en-US/docs/Web/API/Performance/getEntries and filtering returned entries.

[2020-04-01 12:20] Corinos commented on #80
@chmanie When I copy and paste your example, it still fails the same way.  I'm using Jasmine.  Could that be a factor here?

[2020-04-16 22:35] ksubramanian2 commented on #76
I tried with 4.1.0 still the same error:
 Error executing JavaScript
   at WebdriverAjax.setup (/node_modules/wdio-intercept-service/index.js:41:22)
   at Browser.next [as setupInterceptor] (/node_modules/@wdio/utils/build/monad.js:116:27)
   at loadQB (/trackstar.selenium.js:10:11)

[2020-04-16 22:38] ksubramanian2 commented on #77
I was able to do browser.getRequests().length;
When I do a .filter, it said it was not an Array.  It looked like an iterable, but not array.

[2020-04-16 22:54] ksubramanian2 opened #94 "First network call"
When using the sequence:
 browser.url(url);
 browser.setupInterceptor();

would it miss the first network call, if it happens quickly.
Is there a way to put in setupInterceptor before opening the url?

[2020-04-17 12:21] lcombs15 commented on #94
I second this. I believe I may actually be losing the first call in BrowserStack.

[2020-04-20 06:29] chmanie commented on #94
Here's an extract from the readme:

As far as I'm aware, it's not possible to inject code into a website before it's loaded. Sorry.

[2020-04-20 06:29] #94 closed

[2020-04-23 07:01] chmanie commented on #76
Then this must be another issue. It's sad that IE also doesn't report back the JS error. I don't have much time to look into this (especially as I don't have IE11 handy to test with). Please be patient, I will look into this eventually (or, feel free to dig deeper yourself - that would help tremendously).

[2020-04-29 10:56] j-shiels commented on #76
if it helps, I have been using v3.1.1 with no issue on IE11.

[2020-04-29 11:43] chmanie commented on #76
@j-shiels Well that might help indeed:

https://github.com/chmanie/wdio-intercept-service/compare/v3.1.1..v4.1.1#diff-5b8399b464e5e69f1be47740b4ce82de

I think it's the dangling comma. I'll make a change.

[2020-04-29 12:16] #76 closed

[2020-04-30 07:06] chmanie commented on #76
Try version `wdio-intercept-service@4.1.2`, I feel like it should work again.

[2020-05-02 01:46] ksubramanian2 commented on #76
YES, 4.1.2 works for IE. Thanks a lot.

[2020-05-05 04:12] louis-bompart opened #98 "Proposal: Use performance API to initialize the data of the interceptor."
Hi, this might be out of the scope of this project in all honesty, however, I think it might help this plugin to be even more ubiquitous for network capture in the WebdriverIO ecosystem.

The basic principle is quite simple:
When the user setup the interceptor, using the [Performance API](https://developer.mozilla.org/en-US/docs/Web/API/Performance), get all the events related to the network.
From

[2020-06-26 23:29] ksubramanian2 opened #102 "Persisting the call data"
Is there a way to persist the network calls after navigating to a new page?

I am doing  a network call in the 'beforeunload' event and I want to check this call.  But it is already in the new page and shows a count of zero.

[2020-06-27 18:46] anbusivam opened #103 "Not able to intercept requests"
Hi, I am trying to use interceptor. Using chrome  83.0.4103.106.
browser.setupInterceptor();
...
browser.url(oDataUrl);   //this request goes through fine and also getting the response.
browser.pause(5000);
..
var irequest = browser.getRequest(0); //but this request fails
Getting error here "Could not find request with index 0". getRequests() returns an empty array. Am I missing something.  Kindly

[2020-06-27 22:41] chmanie commented on #103
Hey could you maybe post more code?

Is the request done when the website loads (i.e. before the first user interaction)?

[2020-06-28 05:48] anbusivam commented on #103
Hi, I created a sample scenario which resulted in the same issue
- Defined a feature file as below
[code]
- Defined the code as below
[code]

[2020-06-28 06:45] ksubramanian2 commented on #102
Correction:  It is showing the earlier calls,  but not the call from the 'beforeunload',

I have not done setupInterceptor after the browser.url() for the new page. Do I need to?

[2020-06-28 07:07] ksubramanian2 commented on #102
In my test, if I use
browser.execute(() => {
      window.dispatchEvent(new Event('beforeunload'));
    });
it shows the call made in the beforeunload event handler.

But, if I use browser.url() raising the beforeunload event indirectly, then it does not show the call made there.

[2020-06-28 08:57] chmanie commented on #103
Yep, this is exactly the right behaviour. The interceptor can only watch on Ajax and fetch requests *after* any user interaction. In this case there is no user interaction (and probably not even ajax requests).

[2020-06-28 17:05] chmanie commented on #103
Maybe I can try to help you here. What exactly are you trying to achieve?

[2020-08-19 12:59] Nittin-sharma opened #105 "Unable to intercept in IE and Edge"
Same code with intercept browser.setupInterceptor() works for other browsers but not for IE and Edge

Is there any additional setting need to do for these browser? or intercept does not work for these?

IE error: [0-0] TypeError in "test name"
Cannot convert undefined or null to object

Edge error:[1-0] Error in "test name"
Could not find request with index 0

[2020-08-28 13:07] qualicion commented on #80
Hi I also tried the above example and I still kept getting `browser.setupInterceptor is not a function`. Is there anything that I need to try?

[2020-09-02 19:04] chmanie commented on #80
Hey! Please try to start from this example, then subsequently add your tests: https://github.com/chmanie/wdio-intercept-example

To run the tests (you'll need Chrome 85, obviously you can add more browsers later):

[code]

Please let me know if you get an error with _just_ running these commands

[2020-10-16 17:15] ThiagoMFerreira opened #110 "How to intercept Graphql request?"
Hello,
I need to intercept Grahpql requests to my tests, but this is fetch type, so the Intercept service isn't getting the request, is there any way to intercept this request?

the request is returning the result of this way
`data: {values: {totalPages: 10,…}},…}
    data: {values: {totalPages: 10,…}}
        values: {totalPages: 10,…}`

Thank You.

[2020-10-22 14:30] tehhowch opened #111 "Feature Request: allow querying for in-progress HTTP calls"
### Problem Statement
Based on a short review of the code, it appears that captured requests are only persisted to `window[ns].requests` or session storage when the HTTP call completes. Thus, test code that wants to assert on a possibly long-running request needs to wait for an arbitrary amount of time, which may invariably not be long enough due to temporary network issues, etc.

### Feature Requ

[2020-11-13 12:18] ruancarvalho commented on #110
Hey @ThiagoMFerreira, did you had any progress with this kind of tests?
I believe I'm having the same issues.

It doesn't catch graphql requests, although they're shown in the network tab.

[2020-11-13 13:38] ThiagoMFerreira commented on #110
Hi @ruancarvalho any progress yet 😔

[2020-12-19 04:42] ksubramanian2 opened #113 "Local wdio test gives: javascript error: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document."
Using Chromedriver.
Any browser settings needed or time delay needed?
I am not blocking any third party cookies

[chrome 87.0.4280.88 mac os x #0-0] JavaScript stack:
[chrome 87.0.4280.88 mac os x #0-0] Error: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document.
[chrome 87.0.4280.88 mac os x #0-0]     at setup (eval at executeAsyncScript (:556:26), <anony

[2020-12-19 16:46] ksubramanian2 commented on #113
After I put in a delay between browser.url() and browser.setupInterceptor() like below, I could see that the page showed a security dialog box about not being able to verify the site certificate. So, not an interceptor problem.
    browser.url(url);
    browser.$('h1').waitForDisplayed();
    browser.pause();
    browser.setupInterceptor();

[2020-12-19 16:50] #113 closed

[2021-02-05 18:13] hmtai6 opened #115 "Running Programmatically with intercept service"
Hello,

I would like to know is that possible to run  intercept service without wdio?

Since I want to dynamic config the proxy setting with different isntance, therefore i am looking a way to use intercept service without wdio.

Thank you.

[2021-02-09 02:52] #115 closed

[2021-03-03 21:55] cesar-rivera opened #119 "Requests with ArrayBuffer body response type are not being parsed"
In some cases where the request body is read as an ArrayBuffer, the interceptor is saving the response as an empty object instead of plain text. This limitation prevents us from accessing the content on many media types.

<img width="417" alt="Screen Shot 2021-03-03 at 11 11 55 AM" src="https://user-images.githubusercontent.com/52175206/109875695-646ee700-7c36-11eb-9487-8eea04c8ad1e.png">

I'm cur

[2021-03-04 21:48] #119 closed

[2021-03-31 07:02] YukeySnowHarry commented on #67
Hi, chmanie. There are occasional AD popup requests on our website, which are out of our control. We need to intercept API to modify the popup assignment response, so as to ensure that the AD popup will not affect the test process.

[2021-03-31 07:10] YukeySnowHarry commented on #67
We are very anxious for you to continue with the project

[2021-03-31 09:41] chmanie commented on #67
I think I'm not getting what you are trying to do. Do you want to intercept a request to the server and alter the response of the server before it gets to the frontend code? I don't think this would be inside the scope of this project. Feel free though to look at the [interceptor.js](https://github.com/chmanie/wdio-intercept-service/blob/master/lib/interceptor.js) to see how you could override fet

[2021-03-31 09:42] chmanie commented on #110
GraphQL requests are not particularly special. This plugin has been supporting `fetch` since v3 (https://github.com/chmanie/wdio-intercept-service/blob/master/CHANGELOG.md#---300--13022019).
Have you noticed this:

[2021-03-31 09:45] chmanie commented on #102
Calls are persisted in the sessionStorage. This storage is only good for the same website URL (maybe even subdomain, I'm not sure). So if the new page is on the same domain, it should work.

[2021-03-31 09:45] #103 closed

[2021-05-07 10:46] christian-bromann opened #131 "Move project to WebdriverIO Community Org"
Hey @chmanie  ,

first off, thank you for creating this plugin and extending the WebdriverIO ecosystem!

I was wondering if you would be interested moving this repository into the [WebdriverIO Community](https://github.com/webdriverio-community) organisation. It would allow us to help maintain this package, automate a few things like releases and allow others to contribute to it and make the packa

[2021-05-07 17:43] chmanie commented on #131
Hey @christian-bromann! Yes, I'd be very happy to move this project. I don't find much time maintaining it anymore so a few more eyes on it won't hurt.
I think it might be even broken at the moment with the current wdio version 7, but I'll look into that.

Let me know how you'd like to proceed!

[2021-05-09 12:03] christian-bromann commented on #131
Awesome, please follow [this guide](https://docs.github.com/en/github/administering-a-repository/transferring-a-repository#transferring-a-repository-owned-by-your-user-account) and put `webdriverio-community` as new owner of this repository. We have sent you an invite to the org.

[2021-05-09 13:24] chmanie commented on #131
It's moved!

[2021-05-09 13:24] #131 closed

[2021-05-09 19:39] chmanie commented on #131
@christian-bromann I had CI integration with travis-ci. How would you like to handle this now? Are github actions available in this org?

[2021-05-10 08:00] christian-bromann commented on #131
Yes, we should switch to GitHub Actions.

[2021-05-18 22:39] christian-bromann opened #135 "Add `wdio-user` to the list of NPM maintainer"
Hey @chmanie,

would you mind to add [`wdio-user`](https://www.npmjs.com/~wdio-user) to the list of maintainer of the project on NPM please?

Thank you!

[2021-05-19 01:18] chmanie commented on #135
Yup! Done! Thanks for reminding me.

[2021-05-19 01:18] #135 closed

[2021-06-03 10:36] HovhannesMkoyan opened #137 "Interceptor failure on iOS9"
Hey guys.

The same test with intercept browser.setupInterceptor() works for any iPhone and any OS, but not for the following one.
Device: **iPhone 6/6S**
OS: **iOS 9.1**

I'm getting the following error:
_Error: That URL did not map to a valid JSONWP resource_

And when the interceptor is removed this error is gone. So, what can be the problem? Has anyone encountered such a behavior?

[2021-06-10 03:06] yhtang68 commented on #64
Hello,
@chmanie
I'm running into this same issue
Property 'setupInterceptor' does not exist on type 'BrowserObject'.ts(2339)
on
"wdio-intercept-service": "^4.1.3",
"_from": "webdriverio@6.7.3",

What's the fix here?

Thank you

[2021-06-10 03:09] yhtang68 commented on #64
https://stackoverflow.com/questions/59132068/property-setupinterceptor-does-not-exist-on-type-browserobject
this seems a fix.

Add wdio-intercept-service in your tsconfig.json's types section

[2021-06-11 09:58] chmanie commented on #64
Happy you could resolve it!

The [Readme](https://github.com/webdriverio-community/wdio-intercept-service#typescript-support) also has an example 😉

[2021-06-27 13:25] juenobueno opened #138 "Add support for WebDriver in Standalone Mode"
WebDriver can be used in [Standalone Mode](https://webdriver.io/docs/setuptypes#standalone-mode) which allowed WebDriver to be used directly, i.e. without the CLI Testrunner. However, I believe using services in Standalone Mode requires the setup and teardown functions of a service to be called manually, as seen in this [example by WireMock](https://webdriver.io/docs/wdio-wiremock-service#using-we

[2021-07-01 09:36] andreluisce commented on #110
Hey @chmanie Even though my requests happens inside my test, it does not capture the Grapqh requests. Do you have any thoughts about it?

[2021-07-01 14:28] vstaykov commented on #78
Hi @Khushbu-Agrawal,

I am in the middle of implementing GA tracking tests. However, the interceptor catches only the first request to google-analytics and misses all subsequent. Any progress on this on your side or anyone solved this?

Thanks!

[2021-07-21 14:29] ariesranjan opened #140 "getRequests() is returning empty array"
browser.getRequests() is returning empty array. Below are the versions I am using:

WebdriverIO: 7.6.1
Node: 14.16.1
wdio-intercept-service: 4.1.6
Framework: Mocha
Browser: Chrome
Browser Version: 91

Below is the code snippet I am using:

[code]
Please help how to resolve this.

[2021-07-27 23:54] shandilyamaramraju opened #141 "Is there a way to run wdio-intercept-service without using wdio.conf.js and running it in standalone"

[2021-07-28 07:22] christian-bromann commented on #141
@shandilyamaramraju you can use the [`mock`](https://webdriver.io/docs/api/browser/mock) to intercept requests. This command should also work outside of the wdio testrunner.

[2021-07-28 07:22] #141 closed

[2021-07-28 15:58] shandilyamaramraju commented on #141
Hi Webdriverio-Community/Wdio-Intercept-Service,
I want to use intercept service but my test runner is cucumber js . I’m not
using wdio test runner . Could you please help me? Our use case is to grab
the response and response headers of the post payload.

Thanks,
Shandilya

On Wed, Jul 28, 2021 at 12:22 AM Christian Bromann ***@***.***>
wrote:

[2021-07-28 16:33] christian-bromann commented on #141
@shandilyamaramraju please see my answer above.

[2021-07-28 16:48] shandilyamaramraju commented on #141
Hi Christian,
I don’t want to use mock and I don’t want to modify any request response. I
am looking for an example on how to use intercept service outside
wdio-test-runner. Please let me know.

On Wed, Jul 28, 2021 at 9:33 AM Christian Bromann ***@***.***>
wrote:

[2021-07-28 17:01] christian-bromann commented on #141
WebdriverIO doesn't allow services outside of the wdio testrunner.

[2021-08-02 09:06] #138 closed

[2021-08-02 11:19] 1MaJKeL1 commented on #140
Unfortunately I have to confirm the same problem in the latest version of WDIO
wdio.conf.js

services: [
    [
      "chromedriver",
      {
        logFileName: "wdio-chromedriver.log",
        outputDir: "Results/logs/driver",
        args: ["--silent", "--disable-logging", "--disable-infobars"],
      },
    ],
    ["intercept"],
  ],

packake.json
 "dependencies": {
    "wdio-chromedriver-serv

[2021-08-10 10:47] staizen-alexm opened #143 "Include buffered multipart form data request"
**Environment (please complete the following information):**
 - **Package version:** 4.1.6
 - **Node.js version:** 14.16.1
 - **NPM version:** 6.14.12
 - **Browser name and version:** Chrome 92
 - **Platform name and version:** MacOSX

**Describe the bug**
`browser.getRequests()` give an empty request body for an intercepted `multipart/form-data` type request

**To Reproduce**
_just to give an ide

[2021-08-10 10:48] staizen-alexm commented on #143
i'll be happy to contribute with the patch if someone can point me on the right bits to look at. thanks!

[2021-08-10 10:59] iamkenos commented on #143
watch 👀

[2021-08-10 21:20] tehhowch opened #144 "Support reading XHR requests with "blob" responseType"
Currently, the intercept service uses the following code to handle XHR "load" events:

https://github.com/webdriverio-community/wdio-intercept-service/blob/067f7e13f94a4a1506c98532d1d3222c0a84acdb/lib/interceptor.js#L91-L103
and
https://github.com/webdriverio-community/wdio-intercept-service/blob/067f7e13f94a4a1506c98532d1d3222c0a84acdb/lib/interceptor.js#L114-L120

However, if the responseType of

[2021-08-23 17:32] christian-bromann opened #146 "Link in the Intercept Service does not work"
Incorrect link in description [usage-with-webdriver-standalone](https://webdriver.io/docs/wdio-intercept-service/#usage-with-webdriver-standalone)
![Screenshot_10](https://user-images.githubusercontent.com/5372340/130484475-dfc1cc5d-9e05-4145-ab60-d4a0c559d22d.png)

[2021-09-01 12:07] timestampx opened #147 "Link in the Expect does not work"
https://webdriver.io/docs/api/expect-webdriverio/#tobechecked
open page with 404 error, when I click 'isSelected'
<img width="1138" alt="Снимок экрана 2021-09-01 в 15 04 05" src="https://user-images.githubusercontent.com/5372340/131668331-e5e61ec3-39ab-4db0-9222-829167288c0a.png">

[2021-09-01 13:49] christian-bromann commented on #147
Fixed with above commit.

[2021-09-01 13:49] #147 closed

[2021-09-02 20:57] unickq opened #148 "Any example using it wdio7?"
Hey,

Trying to set it up with wdio 7 and typescript. Still no luck. Is any working sample available?
https://github.com/chmanie/wdio-intercept-example-ts - didn't help much

[2021-09-22 15:08] ejames17 commented on #140
i am able to capture request however I don't get all xhr request.

[2021-09-24 09:40] krarpitgupta opened #149 "Question : How can we wait using this service until all/particular network request is completed ?"
**Scenario:**

- User click on a button in web-app and let's say it calls 10 network requests internally
- Now how can we wait until all these 10 requests are completed irrespective of HTTP status ?

Any help would be really appreciated, TIA .

[2021-09-28 01:46] ksubramanian2 opened #150 "Polyfills"
Hello,
We have a page that has been failing under IE11 with the message 'Fetch undefined'.
However, that page has been working under our integration tests with the interceptor included.
I notice that the interceptor redefines windows.fetch
Does the interceptor include any polyfills? any other explanation of how it doesn't fail under the interceptor?
KS

[2021-09-29 01:35] splurgeop commented on #149
this would be tricky.If you compare  with other js tool you can achieve this very easily by waiting for the http call implicitly.
in webdriver context, you can achieve this using the below steps:
1. set up the interceptor
2. get all the request via browser.requests()
3. manually wait until you get all the request and validate it in the array returned by browser.request
something like that
wihle(so

[2021-09-29 04:44] krarpitgupta commented on #149
Hi @splurgeop Thanks for getting back to me but the biggest challenge which I see at the moment when we use **browser.requests();** method it itself don't capture the intended Api request sometimes for e.g. I am trying to intercept a request **/v1/getCustomer/**  but when we use this method **browser.requests()** sometimes it capture this request and sometimes not

[2021-09-29 08:11] splurgeop commented on #149
that's what the problem is.You have to wait explicitly.since you mentioned that sometimes it captures and sometimes not so you have to wait explicitly for the browser.getrequests till you get the api that you are looking for.
Hope that answers your question

[2021-10-25 17:50] tehhowch opened #152 "CICD: add extended tests to GitHub Actions (or `npm test` script) to verify browser compatibility"
The current CICD steps and `npm test` script only use Google Chrome for testing, but this package purports to have extreme backwards compatibility. The CICD process should reflect that, to help contributors verify that their code will work, even on browsers that may not be available for them to use.

Specifically, there should be an IE 11 GitHub Action that is used to execute the same tests that a

[2021-10-28 21:18] denise-maia-ribeiro opened #160 "Appium support"
There is some way to use this plugin with appium service to get the requests from a mobile app?

[2021-10-29 07:47] #160 closed, assigned to nobody

[2021-11-05 19:30] mattdell commented on #140
Same here. Just returns `[]` when I know requests are being made. 😕

[2021-11-11 20:02] trietnguyen267 commented on #110
I had same problem when trying intercepting graphql request which it would return JSON data. it seems interceptor didnt recognised the requests as ajax calls at all

[2021-11-25 11:07] ImBeCiliC commented on #140
I get all xhr request that are triggered after initialization but the fetch calls aren't catched at all. There is no testing for my Segment integration right now.

[2021-12-03 22:05] Badisi opened #185 "Proposal : fix for intercepting HTTP calls during page load"
While trying to intercept http requests originating from an Angular application, I came accross the following restriction mentionned in the README:

Though, I managed to fix it that way:

[code]

The idea behind it, is to inject a script in the `index.html` root file of the Angular application that will set up the interceptor service before the app is actualing started.

---

I let you guys decide

[2021-12-05 15:01] tehhowch commented on #146
Fixed by https://github.com/webdriverio/webdriverio/pull/7529

[2021-12-06 09:07] christian-bromann commented on #146
Awesome, thanks!

[2021-12-06 09:07] #146 closed

[2021-12-06 09:23] christian-bromann commented on #185
Afaik this package was build before WebdriverIO had native mocking capabilities and continues to stay a great alternative for browser tests where Puppeteer and CDP can't be used. Not sure how much it makes sense to use both together, because e.g.:

[code]

is the same as:

[code]

If this package has some useful functionality that native WebdriverIO APIs don't have I suggest we port them over. Wha

[2021-12-06 12:25] #137 closed

[2021-12-06 12:45] Badisi commented on #185
The thing is, I was never able to make `toBeRequestedWith` work...

Even this simple exemple doesn't work:
[code]
Am I doing something wrong ?

[2021-12-06 12:55] christian-bromann commented on #185
Not sure, is it giving you an error message? Are you using latest WebdriverIO?

[2021-12-07 17:16] #111 closed

[2021-12-08 13:38] tehhowch commented on #149
@krarpitgupta @splurgeop You should be able to write a simple utility function in your test library that makes use of the functionality in #186 , which is available beginning with version 4.2.0.

[code]

In a future release this library may provide a direct option to e.g. `assertRequests` that would block until the network settles. (Note that such an option could remove a lot of control from the u

[2021-12-08 13:44] tehhowch commented on #140
As of v4.2.0 you can request not-yet-completed requests to be returned in a call to `getRequests()`:
[code]

[2021-12-08 13:52] christian-bromann commented on #140
Closing the issue then.

[2021-12-08 13:52] #140 closed

[2021-12-17 15:24] Badisi opened #196 "Bug : requestBody are empty when doing a POST+URLSearchParams"
Affected version: **v4.2.0**

### Issue

I'm trying to intercept a **POST** request with some **URLSearchParams** made with the **fetch API**.

The issue is that the resulting `requestBody` does not contain any data and evals to an empty object instead.

<img width="596" alt="Screen Shot 2021-12-17 at 16 03 38" src="https://user-images.githubusercontent.com/674862/146564749-dce8f702-d959-4daf-842d

[2021-12-20 13:37] #196 closed

[2021-12-22 04:28] krarpitgupta commented on #149
Hi @tehhowch Thanks for getting back to me, to tackle this problem I tried below code but seems like `browser.getRequests({includePending: true})` is not getting refresh, here is my code

`
do {
        networkRequests = browser.getRequests({includePending: true});
        pendingRequest = networkRequests.filter(request => request.pending == true);
        console.log('check : ' + pendingRequest.l

[2022-01-04 23:59] navi-kris opened #204 "response is empty in browser.getRequests() array"
Hi I am trying to use WDIO intercept service to get the response for a POST call made in UI. I want to get the response for

Test:
[code]

I am trying to get all the requests made after clicking print button. I am getting the request details. But the response is empty for all the requests. Particularly I want the response for a call made after clicking the button.

This is the response for all cal

[2022-01-06 21:16] tehhowch commented on #204
If those requests are not yet completed, just calling `browser.getRequests()` will not return them. What shows up if you use `browser.getRequests({ includePending: true })` instead?

[2022-01-06 21:24] navi-kris commented on #204
When I tried with `browser.getRequests({ includePending: true })` I see the same response for this request. But additionally I got one more request which was in pending state earlier.

This application is used for printing shipping label after scanning the product. So after filling all required details, clicking print button will invoke first call - to generate shipment details. After few seconds

[2022-01-07 02:22] tehhowch commented on #204
I mean _specifically_. Fetch? XmlHttpRequest? What protocol? How is the url set up (e.g. string, a `Url`, a `Request`, etc.)? What content-type of response did the server send? What cors modes are used? Etc.

[2022-01-12 10:46] MPSwift commented on #140
Unfortunately that did not help to get the fetch calls and there were no pending requests. I still cannot catch the fetch calls but xhr requests.

[2022-01-12 12:48] tehhowch commented on #140
Sounds like you should open a new issue and in that issue, provide significant details about the exact scenario occuring (server and browser), including what does and does not get captured and what the browser is doing while the requests are being made:

If you can't supply this level of detail I don't think anyone can help you, unfortunately.

[2022-01-13 15:27] jasminhusadzic opened #208 "Question: Can we use getRequest method with reqex as argument?"
I have situation where i need to intercept only certain request, and i don't know which index will be. Any suggestion in this case?

Thanks and regards

[2022-01-13 18:41] navi-kris commented on #204
@tehhowch I am not a developer and don't know the technical details of the request. But I have attached the call details from the network tab. Will this help?

![image](https://user-images.githubusercontent.com/32604166/149389837-afbd841c-c96a-4bab-9ea9-1159132b7e45.png)

[2022-01-13 18:59] tehhowch commented on #204
Ask the developers on your team for this information. If they won't give it to you, escalate with your product owner. Someone you work with should want to make sure their product can be tested properly

[2022-01-27 17:58] SebastianFromSnapTravel commented on #140
Im getting the same issue. Basically, my browser is making API calls but only some are appearing in browser.getRequests. Oddly enough, when I run the test with the browser open, and open the network tab to see if the req is happening, the test passes (ie. the calls show up in broswer.getRequests()  - lol) but in any other case, its not detecting the api call.

[2022-01-28 09:52] lildesert commented on #204
Hi there, I'm having the same issue with version `4.2.1`. After digging a bit I discovered the issue was introduced by this PR https://github.com/webdriverio-community/wdio-intercept-service/pull/129. (So the quickest fix would be to use version `4.1.3` but that's not future proof)

I don't have a good way to reproduce it yet, but the thing is the `_this` reference [here](https://github.com/webdri

[2022-01-28 14:05] tehhowch commented on #204
Awesome that you traced the issue source, @lildesert !

I'm not opposed to this library implementing more robust integration tests that run against a variety of popular frontend SPAs (Angular, Ember, etc.); right now the library tests against a simple static server with no-frills webpages.

In other words, if you can write a failing test case for this library using a stripped-down angular app, I t

[2022-01-29 00:01] navi-kris commented on #204
@lildesert  Wow! Thank you! I am not seeing this issue with wdio-intercept-service": "4.1.3". I am getting the response details.

[2022-01-31 16:31] DrewciferB commented on #148
@unickq I'm just upgrading our WDIO from 6 to 7 and I've run into an issue with this service. I could be wrong but the sample project you linked doesn't have the 'intercept' service added to the test runner services array in wdio.conf.js - it only has
`services: ['chromedriver']`
where it should probably have
`services: ['chromedriver', 'intercept']`
however that sample project is using WDIO v6...

[2022-02-01 10:25] lildesert commented on #204
So I spent some time writing a test with angular. It worked fine when I first tested with angular `12.2.16`. I tried with several other angular versions until I found the root of the issue (at least in my case) -> https://github.com/angular/angular/issues/36537
It was fixed in angular `10.0.1` by this PR https://github.com/angular/angular/commit/a5d5f67be7407be0e6eb2c059356c23e83049b13

I opened a

[2022-02-01 11:32] tehhowch commented on #204
Beautiful find!

We could wrap xhr::abort and handle that scenario (done but abort called anyway).

We can also add a minimal test reproduction in the static server for it, to ensure we continue to handle that scenario.

[2022-02-04 15:10] tehhowch commented on #208
You cannot intercept only requests that match a particular predicate. If you use this library, all outgoing requests are instrumented and captured.

When you call `getRequests()` you will get all completed requests in a standard javascript array. You can then just filter that array by your predicate with normal JavaScript. E.g.

[code]

[2022-02-09 15:24] DrewciferB opened #229 "Namespace 'global.WebDriver' has no exported member 'Client' after updating WDIO to v7"
Hi there, I'm getting the following error on compile after updating WDIO to v7. Everything works fine under v6.

[code]

It seems that intercept service is defining a type based on an extension of Webdriver.Client, but the global namespace no longer exports Client as an interface in WDIO v7? I admit I'm quite out of my depth here, so apologies if I've missed something basic.

I have Intercept v4.2

[2022-02-09 15:34] tehhowch commented on #229
PRs welcomed.
Note that the types need to support _at minimum_ wdio  6 and 7, in both sync and async modes, as these are all official versions of WebdriverIO.

As you have experienced, I don't believe this is currently done correctly.

@christian-bromann is best positioned to offer insight on how services that add custom commands can provide accurate types for all WDIO versions that have official

[2022-02-09 17:28] DrewciferB commented on #229
@tehhowch I don't feel I really understand this anywhere near well enough to contribute, but making the following change at line 60 of `wdio-intercept-service/types/wdio-intercept-service.d.ts` removes the problem and allows the project to compile. I tried it in WDIO v6 and v7, in both sync and async mode. The problem is that I don't understand what's actually going on here, so I don't understand

[2022-02-23 14:16] jbebe opened #240 "HTTP header parsing is fundamentally wrong (in parseResponseHeaders)"
**wdio-intercept-service**
**version 4.2.1**

This is the header parser:

[code]

This is the parsed header output for a simple server response:

[code]

This lib should help you lift the burden of parsing headers:
[parse-headers](https://www.npmjs.com/package/parse-headers)

[2022-02-24 19:22] chmanie commented on #240
PRs are very welcome :)

Thanks for reporting, it was definitely not a good idea to attempt that from the hip there.

[2022-02-24 19:33] jbebe commented on #240
I don't have the authority to decide if you can use one more lib. But you say it's allowed, sure, I create a PR with that npm package.

[2022-02-24 19:55] chmanie commented on #240
It's definitely allowed. My approach was only good for some cases, I'm actually surprised that it didn't blow up much earlier

[2022-02-24 20:32] jbebe commented on #240
That was my thought, too. Alright. I'll be back with a PR tomorrow.

[2022-03-09 19:16] chmanie commented on #204
o7

[2022-03-09 19:16] #204 closed

[2022-03-13 10:14] muhserks opened #249 "How to stop intercepting / Setting the value of '__webdriverajax' exceeded the quota"
At >200 entries in __webdriverajax inside session storage, the browser starts throwing errors and ajax requests are not working anymore.
So is there something to disable the intercepting after calling `browser.setupInterceptor();`? Like `browser.stopInterceptor();` and maybe a method to clear the content of __webdriverajax ?

From what I've briefly read it should do it on its own, when navigating

[2022-03-13 23:07] tehhowch commented on #249
Re-executing `browser.setupInterceptor()`, as that will remove the session storage item with the library's namespace key.

[2022-03-14 13:32] muhserks commented on #249
Hm ... Sorry for being stupid, but that is not really working out.
Yes, the session storage gets cleared, but the interceptor hook is still present and will continue to fill __webdriverajax.
If I have a long running test, where I want to intercept some ajax in the first step and then I have lots of steps where I don't want to bother with Ajax, it will just continue to fill up __webdriverajax.

My

[2022-03-14 23:09] tehhowch commented on #249
Yeah, my apologies, I should have clarified that reexecuting the setup method is just a "clean" way to reset the clock.

It's definitely a valid request to want some nice, supported manner in which to disengage the interceptor.

As far as compatibility goes, I think the safest thing to do would be to add a flag to the serialization code and then a method e.g. `disableInterceptor` that toggles said

[2022-03-15 21:03] muhserks commented on #249
Appreciate it. Now just label the issue correctly as feature request or whatever is applicable :smile:

It did not came to my mind to do it via a flag, but you are right. It makes much more sense.

I will try ... but please bear with me. Either someone is faster than me, or we will do some cycles when it comes to a PR from side. So since I am the only one requesting it, I guess it is just fair. Bu

[2022-05-10 17:49] #208 closed

[2022-05-25 09:44] christian-bromann opened #310 "Transition package from CJS to ESM"
As part of the [v8 effort](https://github.com/webdriverio/webdriverio/issues?q=is%3Aopen+is%3Aissue+milestone%3Av8) we are currently [migrating over to ESM](https://github.com/webdriverio/webdriverio/issues/8306) as many packages will stop support CJS in the future. This means we have to transition all plugins to ESM as well, ideally with continuous support for CJS.

[2022-05-25 09:55] chmanie commented on #310
Nice! Do you have any form of general migration guide that also touches on the topic of keeping support for CJS?

[2022-05-25 10:53] christian-bromann commented on #310
Not really but I would refer to this document: https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c#how-can-i-move-my-commonjs-project-to-esm. In regards of supporting both: I don't have a clear solution to this but I plan to have a compiler (e.g. rollup, maybe another TS config) that bundles the files as CJS modules. The `package.json` then needs to look like this:

[code]

[2022-05-25 22:48] wyhmichael commented on #229
@DrewciferB @christian-bromann any suggestions?

[2022-06-02 21:44] serhiiboreiko commented on #149
Idk, maybe this will help someone:
[code]

And usage is:
[code]

[2022-06-09 10:51] PeterPimentel commented on #110
@trietnguyen267 I had the same problem.
Solved it using the mock function https://webdriver.io/docs/mocksandspies/#spies

You are able to mock the `graphql` requests and then create a helper function to validate what you want based on the `operationName`.

`const mocks = await browser.mock('**/graphql', { method: 'post' })`

`console.log(mock.calls[0].postData)`

[2022-06-30 04:18] pmerwin commented on #54
I have a use case for this as well :)

[2022-09-08 03:33] tehhowch commented on #249
@christian-bromann this issue can be closed with a new release

[2022-09-08 09:33] tehhowch commented on #240
@christian-bromann this issue can also be closed with the release of 4.3.0

[2022-09-28 17:43] pmerwin commented on #54
As a workaround I found if you're using saucelabs you can intercept using their API in mutliremote:

if you are running through the saucelabs service: @wdio/sauce-service you should have the getPageLogs() methio available

const reqs = await mBrowser.getPageLogs('sauce:network');

where mBrowser is either remote you want logs from ^

[2022-10-24 17:33] chadbellangivelify opened #416 "After updating to 4.3.0, attempting to get the network response when a filter is applied results in an error "Cannot read property trim of undefined""
The call I'm making is:

let capturedNetworkCall = browser.getRequests().filter(request => request.method === requestType && request.url.includes(endpointIncludes));

It is working with wdio-intercept-service 4.2.2 and failing with version 4.3.0

The error is:
[chrome 106.0.5249.61 mac os x #0-10] Cannot read property 'trim' of undefined
[chrome 106.0.5249.61 mac os x #0-10] TypeError: Cannot read

[2022-10-24 19:27] chadbellangivelify opened #417 "(Version 4.2.2) Occasionally getting a java heap space error when running the network intercept too often"
0-4] 2022-10-24T15:47:01.900Z ERROR webdriver: Request failed with status 500 due to unknown error: Java heap space
[0-4] unknown error in "Givelify Analytics Studio - Campus dropdown.Validate campus navigation"
unknown error: Java heap space
    at runMicrotasks (<anonymous>)
    at getRequest (/srv/analytics-studio-automated-tester/releases/20221021150513/node_modules/wdio-intercept-service/inde

[2022-10-24 19:45] chadbellangivelify opened #418 "[Version 4.2.2] browser.disableInterceptor() is not a function"
Is browser.disableInterceptor() only available for version 4.3.0?  When I try to use it I'm getting an error that it's not a function

[2022-10-24 21:18] tehhowch commented on #418
Correct: https://github.com/webdriverio-community/wdio-intercept-service/blob/v4.2.2/CHANGELOG.md
It was added in commit https://github.com/webdriverio-community/wdio-intercept-service/commit/48da3c849a24d5dece8317da3ff296b834777aca

[2022-10-24 21:20] tehhowch commented on #416
That is this line: https://github.com/webdriverio-community/wdio-intercept-service/blob/057537d0f99b12274d553651da434665f3f8f8e9/index.js#L351

mind sharing the headers on the request that is causing the issue?
cc @jbebe

[2022-10-24 21:42] jbebe commented on #416
If the header contains a colon, undefined will not occur, even if there is no content after the colon. Given the information there can only be one problem: one of the http headers does not contain a colon. Which is very weird so ~~we~~ you need more context here.

[2022-10-27 14:52] chadbellangivelify commented on #417
I am no longer seeing this error

[2022-10-27 14:52] #417 closed

[2022-10-30 19:35] ksubramanian2 opened #419 "browser.getRequests() hanging without @wdio/sync module"
I have been using the intercept service for a couple of years and it has been working well for me.
I have now tried to update all the wdio dependencies and in the process, removed the @wdio/sync module from package.json as it was not supporting Node 16.  So, I had to update all the browser. calls to have an 'await'.
Now, the following call
    await browser.getRequests()
never returns.
I have the

[2022-10-30 21:24] christian-bromann commented on #419
Hey @ksubramanian2 , thanks for filing an issue.

Do you have a reproducible example?

[2022-10-31 00:05] ksubramanian2 commented on #419
Thanks, @christian-bromann, for the quick response.  I do not have an example to share readily.  Our repo is in our intranet.
I can put an example together.
Are there any guesses on what I could be missing, in the meanwhile?

[2022-10-31 14:28] tehhowch commented on #419
@ksubramanian2 This service does not require the `wdio/sync` module in any manner (you can see from its `package.json` that wdio/sync is not present, and also that its own plugin tests are written for the required-async future of WebdriverIO).

Please ensure you provide the version of the service that you are using, and whether the issue is present in other recent versions, too, or e.g. only the l

[2022-10-31 15:18] ksubramanian2 commented on #419
Thanks for the response, @tehhowch
I copied. the dependencies' versions from this repo into my package.json now.  Below is what I have:
    "@wdio/cli":"^7.16.3",
    "@wdio/local-runner":"^7.16.3",
    "@wdio/mocha-framework":"^7.16.3",
    "@wdio/spec-reporter":"^7.16.3",
    "@wdio/static-server-service": "^7.16.3",,
    "chromedriver": "^106.0.1",
    "wdio-chromedriver-service": "^8.0.0",

[2022-10-31 15:33] christian-bromann commented on #419
A reproduction repo would be the best here.

[2022-11-01 16:17] sumanthpfs commented on #416
I get the same error too, after updating to 4.3.
I was unable to do any assertions or get methods on the requests.

[2022-11-01 16:32] chadbellangivelify opened #425 "Best practices with the wdio intercept service"
I wanted to inquire:
1. If I have multiple tests in a test file that use the intercept service, should I call browser.setupInterceptor() within each test or do you suggest that I run the browser.setupInterceptor() once in the before

2. When do you suggest that I disable the interceptor:
a) within each test when the test is done
b) not at all and let the browser shutdown take care of it (does shut

[2022-11-02 16:20] tehhowch commented on #416
@sumanthpfs @chadbellangivelify please provide the headers that are causing the issue. You can determine which header is responsible by making a modification in the library's downloaded package (inside `node_modules`) as [identified above](https://github.com/webdriverio-community/wdio-intercept-service/issues/416#issuecomment-1289631918)

[2022-11-04 15:46] chadbellangivelify commented on #416
At this time, I'm no longer able to reproduce this issue.  Maybe Sumanthpfs can provide more details to help

[2022-11-04 20:38] ksubramanian2 commented on #419
@christian-bromann,  I tried to create a repo  [here](https://github.com/ksubramanian2/intercepttest)
It does not reproduce the hanging situation yet.
It has the getRequests() call that works but comes back with a zero count for network requests.
I would need your help even in fixing this before I can work on it further on the original issue of hanging.
It is a simple test, like the sample one you

[2022-11-05 09:10] ksubramanian2 commented on #419
@christian-bromann, I have recreated the situation in this repo [here](https://github.com/ksubramanian2/intercepttest)
Can you please hep?

[2022-11-05 19:48] ksubramanian2 commented on #419
@christian-bromann, I have recreated the situation in this repo [here](https://github.com/ksubramanian2/intercepttest)
This is what I could observe so far.  Before the upgrades, if I performed a click, paused a few milli-secs and then call  getRequests(), I could see the network requests.  No longer the case after the upgrades.

The reproduction repo is a simple test.  Opens Google search, enters

[2022-11-06 00:54] ksubramanian2 commented on #419
Further update.
This test works Ok in Safari without the getRequests( ) hanging.
The issue happens only in the latest Chrome v107, likely.

[2022-11-06 00:55] ksubramanian2 commented on #419
Thank you.

[2022-11-08 22:49] ksubramanian2 commented on #419
@christian-bromann
I had created the reproduction repo as requested by you.  Appreciate ay insights you can provide.
After cloning the repo and yarn, please run 'yarn test'.  Will not take more than five minutes of your time.   Thanks.

[2022-11-08 23:07] tehhowch commented on #419
@ksubramanian2 Do you need this line in your config?
https://github.com/ksubramanian2/intercepttest/blob/813f44b382e185d7ad4248bdacf7e296b585ca75/config.js#L31

FWIW I can run this just fine on macOS with Chrome 107, even with that `sync: true` line.

[code]

PS: you don't need to do arbitrary waits any more, the service provides the capability to build your own "pending request waiter" via the [`

[2022-11-08 23:23] ksubramanian2 commented on #419
Thanks, @tehhowch
I will check out the has PendingRequests method.
When I run the code, I get the following:
[0-0] RUNNING in chrome - /test.js
[0-0] entering getRequests
[0-0] Error in "intercept test.getRequests test"
Error: Timeout of 20000ms exceeded. The execution in the test "intercept test getRequests test" took too long. Try to reduce the run time or increase your timeout for test specs (h

[2022-11-09 08:16] ksubramanian2 commented on #419
@tehhowch
I used this sequence instead of duration waits.
        await browser.hasPendingRequests();
        const requests = await browser.getRequests({includePending: true});
It works more consistently.  Thanks.
Then when I examine each of the requests and its response.statusCode, the response area is not available.
Is there a wait I can do for the request to complete?
This is not very critical

[2022-11-22 13:22] dragosMC91 commented on #416
for me it's a request like this causing the problem (added a console log):
[code]
removed some sensitive info from the url and body.

For the mentioned request, I get the error when `parseResponseHeaders` is called.

I could investigate next weekend if nobody fixes it by then

[2022-11-23 11:51] qatestingresearcher commented on #103
@anbusivam : Did it resolve?
@chmanie: I was trying the similar scenario,browser is making API calls but only for some executions browser.getRequests is returning the values rest it is returning []

Tried the below options, but not still facing the inconsistency in results. So I assume it should be something with the pause.
1. With the version wdio-intercept-service version 4.2.1 and 4.2.2
2. With

[2022-11-28 06:48] qatestingresearcher commented on #425
@chadbellangivelify : Did you get any solution?

[2022-11-29 09:53] erwinheitzman commented on #425
You run the method when you want to start capturing network requests.
You disable when you want to stop (refresh the state) or if you don't care, you can leave it till the instance is closed.
I'm not aware of any performance impact but will say that I believe that this is probably the last place you should look to gain a performance increase if any can be had at all.

[2022-11-30 07:50] qatestingresearcher opened #437 "Interceptor results are inconsistent"
I was using the interceptor,browser is making API calls but only for some executions browser.getRequests is returning the values rest it is returning [], basically results are inconsistent

Tried the below options, but not having the consistency in results. So I assume it should be something with the pause.

1. With the version wdio-intercept-service version 4.2.1 and 4.2.2
2. With browser.getRequ